@model SalaryCapGame.ViewModels.DashboardViewModel

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using ( Html.BeginForm() )
	{
		@Html.HiddenFor( model => Model.OwnerIndex.Id )
		@section FranchiseMenu
			{
			<table class="table table-striped table-sm table-responsive">
				<thead>
					<tr>
						<th class="text-left col-sm-2">
							@Html.Label( "Franchise" )
						</th>
						<th class="text-left col-sm-2">
							@Html.Label( "League" )
						</th>
					</tr>
				</thead>
				<tbody>
					@foreach ( var f in Model.OwnerIndex.Franchises )
					{
						<tr>
							<td class="col-sm-2 text-left">
								@Html.ActionLink( f.Name, "Edit", "Franchises", new { f.Id }, null )
							</td>
							<td class="col-sm-2 text-left">
								@Html.ActionLink( f.League.Name, "Index", "League", new { f.LeagueId }, null )
							</td>
						</tr>
					}
				</tbody>
			</table>
		}
		<div class="jumbotron container ">
			<table class="table table-striped table-hover table-condensed table-responsive">
				<thead>

					@Html.Partial( "~/Views/Partial/Franchise/_FranchiseHeader.cshtml" )
				</thead>
				<tbody>
					@Html.Partial( "/Views/Partial/Franchise/FranchiseSummary.cshtml", Model.OwnerIndex.Franchises )
				</tbody>
			</table>
		</div>
	}

@*@using ( Html.BeginForm() )
{*@
	@section HitterList
		{
		@Html.Partial( "~/Views/Partial/Player/ViewHitters.cshtml" )
	}
@*}*@

@*@using ( Html.BeginForm() )
{*@

	@section PitcherList
		{
		@Html.Partial( "~/Views/Partial/Player/ViewPitchers.cshtml" )
	}
@*}*@
	@*@using ( Html.BeginForm() )
		{
		@Html.HiddenFor( model => Model.OwnerIndex.Id )
		@section MyPlayers
			{

			<div class="container">
				<ul class="nav nav-tabs">
					<li class="nav-item active">
						<a class="nav-link" href="#pitcherList">Pitchers</a>
					</li>
					<li class="nav-item active">

						<a class="nav-link" href=@Html.Partial( "~/Views/Partial/Player/ViewPitchers.cshtml" )>Hitters</a>
					</li>
				</ul>
			</div>
		}
		}*@

	@*<div class="row" id="accordion">
				<div>
					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#pitcherCollapse" aria-expanded="true" aria-controls="hitterCollapse">
						Pitchers
					</button>
					<button  class="btn btn-primary" type="button" data-toggle="collapse" data-target="#hitterCollapse" aria-expanded="false" aria-controls="pitcherCollapse">
						Hitters
					</button>
				</div>
				<div class="collapse" id="pitcherCollapse" data-parent="#accordion">
					<div class="card card-body">
						@Html.Partial( "~/Views/Partials/Player/ViewHitters.cshtml" )
					</div>
				</div>

				<div class="collapse" id="hitterCollapse" data-parent="#accordion" >
					<div class="card card-body">
						@Html.Partial( "~/Views/Partials/Player/ViewPitchers.cshtml" )
					</div>
				</div>
			</div>
		</div>*@



	@*@using ( Html.BeginForm() )
		{
			@Html.HiddenFor( model => Model.OwnerIndex.Id )
			@section PitchersList
				{
				<h2>Pitchers</h2>
				<table cellspacing="0" id="pitcherStatsTable" class="sortable" cellpadding="0" border="0" width="1050">
					<tr>
						<td>
							<table  cellspacing="1" cellpadding="1" width="1025">
								<tr class="stats">
									<th style="text-align:left" onclick="sortTable(0)">Player</th>
									<th onclick="sortTable(1)">Position</th>
									<th onclick="sortTable(2)">Team</th>
									<th onclick="sortTable(3)">Value</th>
									<th onclick="sortTable(4)">CG</th>
									<th onclick="sortTable(5)">W</th>
									<th onclick="sortTable(6)">L</th>
									<th onclick="sortTable(7)">S</th>
									<th onclick="sortTable(8)">H</th>
									<th onclick="sortTable(9)">IP</th>
									<th onclick="sortTable(10)">R</th>
									<th onclick="sortTable(11)">Hits</th>
									<th onclick="sortTable(12)">BB</th>
									<th onclick="sortTable(13)">WHIP</th>
									<th onclick="sortTable(14)">SO</th>
									<th onclick="sortTable(15)">ERA</th>
									<th onclick="sortTable(16)">Pts</th>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<div style="overflow:auto; width:1050px; height:400px;">
								<table cellspacing="0" cellpadding="1" width="1025" class="table table-striped table-sm table-hover">
									@foreach ( var item in Model.PlayerStats.PicthterStats )
									{
										<tr class="stats">
											<td th style="text-align:left">@Html.DisplayFor( i => item.Player.FirstName ) @Html.DisplayFor( i => item.Player.LastName )</td>
											<td>@Html.DisplayFor( i => item.Player.Position )</td>
											<td>@Html.DisplayFor( i => item.Player.Team.Abbrev )</td>
											<td>$@Html.DisplayFor( i => item.Player.InitialValue )</td>
											<td>@Html.DisplayFor( i => item.CompleteGames )</td>
											<td>@Html.DisplayFor( i => item.Wins )</td>
											<td>@Html.DisplayFor( i => item.Loses )</td>
											<td>@Html.DisplayFor( i => item.Saves )</td>
											<td>@Html.DisplayFor( i => item.Holds )</td>
											<td>@Html.DisplayFor( i => item.InningsPitched )</td>
											<td>@Html.DisplayFor( i => item.EarnedRunsAllowed )</td>
											<td>@Html.DisplayFor( i => item.HitsAllowed )</td>
											<td>@Html.DisplayFor( i => item.PitcherWalks )</td>
											<td>@Html.DisplayFor( i => item.WHIP )</td>
											<td>@Html.DisplayFor( i => item.Strikeouts )</td>
											<td>@Html.DisplayFor( i => item.ERA )</td>
											<td>@Html.DisplayFor( i => item.Player.TotalPoints )</td>
										</tr>
									}
								</table>
							</div>
						</td>
					</tr>
				</table>
			}
		}*@



