@model SalaryCapGame.ViewModels.OwnerIndexListingModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using ( Html.BeginForm() )
{
    @Html.HiddenFor( model => Model.Id )
    @section FranchiseMenu
        {
        <table class="table table-striped table-sm table-responsive">
            <thead>
                <tr>
                    <th class="text-left col-sm-2">
                        @Html.Label( "Franchise" )
                    </th>
                    <th class="text-left col-sm-2">
                        @Html.Label( "League" )
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach ( var f in Model.Franchises )
                {
                    <tr>
                        <td class="col-sm-2 text-left">
                            @Html.ActionLink( f.Name, "Edit", "Franchises", new { f.Id }, null )
                        </td>
                        <td class="col-sm-2 text-left">
                            @Html.ActionLink( f.League.Name, "Index", "League", new { f.LeagueId }, null )
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }


  
        <div class="container col-lg-12">
            <table class="table col-lg-12 table-responsive table-striped bottom table-sm">
                <thead>
                    <tr>
                        @Html.Partial( "~/Views/Partial/Owners/_OwnerHeader.cshtml" )
                        @Html.Partial( "~/Views/Partial/Owners/_OwnersSummary.cshtml", Model )
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @*<td>
                        @Html.Partial( "~/Views/Partial/Owners/_OwnersSummary.cshtml", Model )
                    </td>*@
                        <td>
                            <table class="table col-lg-12 table-responsive table-hover table-striped bottom table-sm">
                                <thead>
                                    <tr>
                                        @Html.Partial( "~/Views/Partial/Franchise/FranchiseHeader.cshtml" )
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        @Html.Partial( "/Views/Partial/Franchise/FranchiseSummary.cshtml", @Model.Franchises )
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
}
@*<div class="table-responsive">*@


@*</div>*@
