@model SalaryCapGame.ViewModels.OwnerIndexModel 

@{ 
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="container">
    <div class="header clearfix detailHeading">
        <h2 class="text-muted">League Information</h2>
    </div>
    <div class="jumbotron">
        <div class="row">
            @*<div class="col-lg-6">*@
            <table class="table table-bordered table-hover table-condensed table-responsive">
                @Html.Partial( "~/Views/Partial/Owners/_OwnerHeader.cshtml" )


                @foreach ( var owner in Model.Owners )
    {

            <tbody>
                <tr>

                    @*<a asp-action="View" asp-controller="Owners" asp-route-id=@owner.Id>@owner.LastName, @owner.FirstName</a>*@
                    @Html.Partial( "~/Views/Partial/Owners/_OwnersSummary.cshtml", owner )
                    @Html.Partial( "/Views/Partial/Franchise/FranchiseSummary.cshtml", owner.Franchises )


                </tr>

            </tbody>



}
            </table>
                @*@if ( owner.Leagues != null )
            {
                @Html.Partial( "/Views/Partial/League/LeagueListing.cshtml", owner.Leagues )

            }*@




            </div>
        </div>
        </div>
    @*</div>*@
