@model SalaryCapGame.ViewModels.OwnerIndexModel 

@{ 
    Layout = "~/Views/Shared/Layout.cshtml";
}
@*<div class="container">*@
    <div class="header clearfix detailHeading">
        <h2 class="text-muted">League Information</h2>
    </div>
    <div class="jumbotron">
        <div class="row">
            <table class="col-lg-2 table table-bordered table-hover table-condensed table-responsive">
                <thead>
                        @Html.Partial( "~/Views/Partial/Owners/_OwnerHeader.cshtml" )
         
                    @Html.Partial( "~/Views/Partial/Franchise/_FranchiseHeader.cshtml" )
                </thead>
                @foreach ( var owner in Model.Owners )
    {

            <tbody>
               

                    @*<a asp-action="View" asp-controller="Owners" asp-route-id=@owner.Id>@owner.LastName, @owner.FirstName</a>*@
             
                    @Html.Partial( "~/Views/Partial/Owners/_OwnersSummary.cshtml", owner )
              
                    @Html.Partial( "/Views/Partial/Franchise/FranchiseSummary.cshtml", owner.Franchises )
             

          

            </tbody>



}
            </table>
                @*@if ( owner.Leagues != null )
            {
                @Html.Partial( "/Views/Partial/League/LeagueListing.cshtml", owner.Leagues )

            }*@




            </div>
        </div>


