@model FranchiseIndexModel

<div class="col-lg-6">
    <h4>Owner Franchises</h4>
    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>Franchise</th>
                <th>League</th>
            </tr>
        </thead>
        <tbody>
            @foreach ( var franchise in @Model.Franchises )
            {
                <tr>
                    <td><a id="franchiseName">@franchise.Name</a></td>
                    <td><a id="leagueName">@franchise.League?.Name</a><br /></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<td>
    @*@foreach ( var franchise in owner.Franchises )
    {
        <a asp-action="FranchiseDetail" asp-route-id="@franchise.FranchiseId">@franchise.Name</a>
        <a asp-action="LeagueDetail" asp-route-id="@franchise.LeagueId?">@franchise.League?.Name</a><br />
    }
</td>*@
