@model SalaryCapGame.ViewModels.OwnerIndexListingModel


    <body class="m-1 p-1">
        <table class="table table-condensed table-bordered table-striped">
            <thead>
                <tr>
                    <th class="col">Owner</th>
                    <th class="col"><a asp-action="Details" asp-controller="Owners" asp-route-id="@Model.Id">@Model.LastName, @Model.FirstName</a></th>
                </tr>
            </thead>
          
                    @*<td>
                        <a asp-controller="Franchise" asp-action="Detail" asp-route-id="@franchise.Id">@franchise.Name</a>
                    </td>
                    <td>
                        <form asp-action="JoinLeague" asp-route-id="@franchise" >
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="@franchise.League.Id" class="control-label"></label>
                                <select asp-for="@franchise.League.Id" class="form-control" asp-items="ViewBag.LeagueID"></select>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="JoinLeague" class="btn btn-default" />
                            </div>
                        </form>
                        @if ( franchise.League == null )
    {


                    @*<a asp-controller="Franchise" asp-action="JoinLeague" asp-route-id="@franchise.FranchiseId">
        Join League
    </a>*@
                        @*<p>You must assign this franchise to a league before drafting players.</p>

}
else
{

                    <a asp-controller="League" asp-action="Detail" asp-route-id="@franchise.League.Id">@franchise.League.Name</a><br />

}
                    </td>

                    </tr>*@

@*}*@


        </table>
    </body>

