@model SalaryCapGame.ViewModels.DashboardViewModel

@using ( Html.BeginForm() )
{
	@Html.HiddenFor( model => Model.OwnerIndex.Id )
	@*@section Pitchers
		{*@
	<div class="container table-responsive  clearfix" width:100%; margin:0 auto;>
		<br />
		@*<div style="width:100%; margin:0 auto;">*@

		@*<table class="no_gutters display sortable table-condensed table-bordered table-hover pull-left" id="pitchersTable" style="padding:0" cellspacing="0" cellpadding="0" border-spacing="0" width:80% border="0">*@
		@*<table id="pitchersTable" class="wrapper table-bordered table-hover nowrap" cellspacing="0" cellpadding="0" style="padding:0">*@
		<table id="pitchersTable" class="table-condensed table-hover" cellspacing="0" cellpadding="0" style="border-spacing:0" border="0" width:100%>


			<thead>
				<tr class="stats">
					<th></th>
					<th style="text-align:left">
						Player
					</th>
					<th style="text-align:center">
						Pos
					</th>
					<th style="text-align:center">
						Team
					</th>
					<th>
						Value
					</th>
					<th>
						CG
					</th>
					<th>
						W
					</th>
					<th>
						L
					</th>
					<th>
						S
					</th>
					<th>
						H
					</th>
					<th>
						IP
					</th>
					<th>
						R
					</th>
					<th>
						Hits
					</th>
					<th>
						BB
					</th>
					<th>
						WHIP
					</th>
					<th>
						SO
					</th>
					<th>
						ERA
					</th>
					<th>
						Pts
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach ( var item in Model.PlayerStats.PitcherStats )
				{
					<tr>


						<td class="details-control">
							@*<i class="fa fa-plus-square" aria-hidden="true">

								</i>*@
							@*@Html.ActionLink( "Add", "AddPlayer", "Franchises", new { franchiseId = 6, playerId = item.Id, ownerId = Model.OwnerIndex.Id }, null )*@
							@Html.ActionLink( "Add", "AddPlayerToFranchise", "Franchises", new { franchiseId = 6, playerId = item.Id, ownerId = Model.OwnerIndex.Id }, new { id = "myLink" } )
						</td>
						<td style="text-align:left">@Html.DisplayFor( i => item.Player.FirstName ) @Html.DisplayFor( i => item.Player.LastName )</td>
						<td style="text-align:center">@Html.DisplayFor( i => item.Player.Position )</td>
						<td style="text-align:center">@Html.DisplayFor( i => item.Player.Team.Abbrev )</td>
						<td>$@Html.DisplayFor( i => item.Player.InitialValue )</td>
						<td>@Html.DisplayFor( i => item.CompleteGames )</td>
						<td>@Html.DisplayFor( i => item.Wins )</td>
						<td>@Html.DisplayFor( i => item.Loses )</td>
						<td>@Html.DisplayFor( i => item.Saves )</td>
						<td>@Html.DisplayFor( i => item.Holds )</td>
						<td>@Html.DisplayFor( i => item.InningsPitched )</td>
						<td>@Html.DisplayFor( i => item.EarnedRunsAllowed )</td>
						<td>@Html.DisplayFor( i => item.HitsAllowed )</td>
						<td>@Html.DisplayFor( i => item.PitcherWalks )</td>
						<td>@Html.DisplayFor( i => item.WHIP )</td>
						<td>@Html.DisplayFor( i => item.Strikeouts )</td>
						<td>@Html.DisplayFor( i => item.ERA )</td>
						<td>@Html.DisplayFor( i => item.Player.TotalPoints )</td>
					</tr>
				}
			</tbody>
		</table>
	</div>


}
