@model SalaryCapGame.ViewModels.LeagueIndexListingModel
@{

}

@*@section Scripts{
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
}

@section Styles{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
}*@

<div class="container">
    <div class="header clearfix detailHeading">
        <h2 class="text-muted">League Information</h2>
    </div>
    <div class="jumbotron">
        @*<div class="row">*@
            @*<div class="col-md-8">
                <div>*@
                    <h3>@Model.Name</h3>
                    <h4>Commissioner: @Model.Commissioner.FirstName @Model.Commissioner.LastName</h4>
                    <h4>Email: @Model.Commissioner.Email</h4>
                @*</div>
            </div>*@
        @*</div>*@
        <div class="row">
            <div class="col-lg-6">
                <table class="table table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Teams</th>
                            <th>Points</th>
                            <th>Franchise Value</th>
                            <th>Trades</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if ( Model.Franchises != null )
                        { 
                            foreach ( var franchise in @Model.Franchises )
                            {
                        <tr>
                            <td><a asp-controller="Franchise" asp-action="Detaisl" asp-route-id="@franchise.Id">@franchise.Name</a></td>
                            <td>@Html.DisplayFor( modelItem => franchise.Points )</td>
                            <td>@Html.DisplayFor( modelItem => franchise.Value )</td>
                            <td>@Html.DisplayFor( modelItem => franchise.NumberOfTrades )</td>
                        </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

