@model SalaryCapGame.WebViewModels.FranchiseLeagueModel

@{
    ViewData["Title"] = "Create";
   // Layout = "~/Views/Franchises1/Index.cshtml";
}

<h2>Create Franchise</h2>

<hr />
<container>
    <div class="row">
        <div>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FranchiseModel.Name" class="control-label"></label>
                    <input asp-for="FranchiseModel.Name" class="form-control" />
                    <span asp-validation-for="FranchiseModel.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FranchiseModel.ImageUrl" class="control-label"></label>
                    <input asp-for="FranchiseModel.ImageUrl" class="form-control" />
                    <span asp-validation-for="FranchiseModel.ImageUrl" class="text-danger"></span>
                </div>
                <div>
                    <h4>Select a League</h4>
                    <table class="table" cellspacing="0" cellpadding="0" border="0" width="475">
                        <tr>
                            <td>
                                <table cellspacing="0" cellpadding="2" border="0" width="425">
                                    <tr>
                                        <th>Select</th>
                                        <th>League</th>
                                        <th>Commissioner</th>
                                        <th>League Size</th>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                       <tr>
                           <td>
                               <div style="width:475px; height:200px; overflow:auto;">
                                   <table cellspacing="0" cellpadding="1" border="1" width="425">
                                       @foreach ( var l in Model.Leagues )
                                        {
                                           <tr>
                                               <td>@Html.RadioButton( l.Name, l.Id )</td>
                                               <td>@Html.DisplayFor( modelItem => l.Name )</td>
                                               <td>
                                                   @Html.DisplayFor( modelItem => l.Commissioner.FirstName )
                                                   @Html.DisplayFor( modelItem => l.Commissioner.LastName )
                                               </td>
                                               <td>@Html.DisplayFor( modelItem => l.LeagueInfo )</td>
                                           </tr>
                                        }
                                    </table>
                                </div>
                            </td>
                       </tr>
                     </table>
                </div>
                @*<div class="form-group">
                        <label asp-for="DateCreated" class="control-label"></label>
                        <input asp-for="DateCreated" class="form-control" />
                        <span asp-validation-for="DateCreated" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateModified" class="control-label"></label>
                        <input asp-for="DateModified" class="form-control" />
                        <span asp-validation-for="DateModified" class="text-danger"></span>
                    </div>*@
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default btn-primary" />
                    <a asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>


</container>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
