@model IEnumerable<SalaryCapData.Models.Franchise>

@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Owners/Index.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New Franchise</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor( model => model.Name )</th>
            <th>@Html.DisplayNameFor( model => model.ImageUrl )</th>
            <th>League</th>
            <th>League Id</th>
            <th>Commissioner</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor( modelItem => item.Name )</td>
            <td>@Html.DisplayFor( modelItem => item.ImageUrl )</td>
            <td>@Html.DisplayFor( modelItem => item.League.Name )</td>
            <td>@Html.DisplayFor( modelItem => item.League.LeagueId )</td>
            <td>@Html.DisplayFor( modelItem => item.League.Commissioner.FirstName )</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FranchiseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FranchiseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FranchiseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
