@model IEnumerable<SalaryCapData.Models.Franchise>
@*<p>
        <a asp-controller="Franchises" asp-route-id="@ViewBag.asp-action="Create">Create New Franchise</a>
    </p>*@
@*<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>@Html.DisplayNameFor( model => model.League )</th>
            <th>@Html.DisplayNameFor( model => model.Name )</th>

            <th></th>
        </tr>
    </thead>
    <tbody>*@
<div class="row ">
    <div class="col-md-8 pull-left">
        @foreach ( var item in Model )
        {


            @*<td><img src="~/@Url.Content( item.ImageUrl )" class="imageCell" /></td>*@
            <div class="row">

                <div class="col-md-3">
                    <a asp-controller="League" asp-action="Detail" asp-route-id="@item.LeagueId">@item.League.Name</a>
                </div>
                <div class="col-md-3">
                    <a asp-controller="Franchises" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                </div>
                <div class="col-md-2">
                    <label  style="text-align:right;">@String.Format( "{0,6:c}", item.Value )</label>
                </div>
                <div class="col-md-2">
                    <label style="text-align:right;">@String.Format( "{0,6:n}", item.Points )</label>
                </div>
                

            </div>
        }
        </div>
    </div>
